**/.settings/**
**/bin/**
**/.project
**/target/**
**/.classpath
**/.settings/**
**/.project
**/target/**
.project
pom.xml.versionsBackup
.class
**/*.class
/bin/
credit-api.war
sams-membership.jks
**/.vscode/**
**/webapp/**
.idea/
.idea/*
**/.idea
*.iml
**/*.iml

# Emacs temp files
*~
\#*\#
.\#*
.factorypath
